config.stopBubbling=true
lombok.addLombokGeneratedAnnotation=true
lombok.equalsAndHashCode.callSuper=call
lombok.toString.callSuper=call
# use constructor annotations like @java.beans.ConstructorProperties({"..."}) because they are required by com.fasterxml.jackson to work correctly
lombok.anyConstructor.addConstructorProperties=true
# intellij lombok plugin is still using old (pre 1.16.20) syntax of lombok config:
lombok.anyConstructor.suppressConstructorProperties=false

lombok.copyableAnnotations += org.springframework.beans.factory.annotation.Qualifier
